:root {
    --main-color: #456de4; 
    --text-color: #000000;
    --background-color: white;
    --gray-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-decoration: none !important;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

.main-container {
    width: 70%;
    margin: auto;
}

.header {
    background-color: var(--background-color);
    padding: 15px 0;
    margin: 30px 0;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 50px;
}

.logo img {
    width: 100%;
    height: auto;
}

.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu li a {
    color: var(--text-color); 
    font-size: 16px;
    
}


.icon {
    width: 100px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.icon img {
    width: 20px;
    height: auto;
}